@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-color{
    background-color: rgba(30, 30, 30, 1);
}



.display-flex{
    display: flex;
}

/* dark 02 */
.text-gray{
    color: rgba(0, 0, 0, 1);
}

/* dark 03 */
.text-light-gray{
    color: rgba(0, 0, 0, 0.5);
}
.text-color{
    color: #E95A08;
}
.banner{
    max-width: 1140px;
    min-height: 461px;
    align-items: end;
    padding: none;
}

.banner-color{
    color: #8987A1;
}

.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.banner-content{
    margin-top: 162px;
}
.banner-img{
    margin-top: 108px;
}

.btn-primary{
    color: #FFFFFF;
    background-color: #E95A08;
}

/* shared styles */


/* header styles */


/* navbar related styles */
.navbar{
     justify-content: space-between;
}
.nav-item{
    list-style: none;
    margin-right: 48px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
.section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 230px;
}
.section-title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 16px;
}
.our-section{
    text-align: center;
}

.plants-container{
    /* max-width: 270px;
    max-height: 484.94px; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plant-name{
    font-weight: 500;
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
    margin-top: -1px;
}

.plant-number{
    font-weight: bold;
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
    margin-top: -15px;

}
#our-btn{
    margin-top: -10px;
    padding: 10px 90px;
    border: none;    
}

.section-flower{
    max-width: 1140px;
    margin: 0 auto;
    gap: 106px;
    
    
}
.flower-image{
    width: 540px;
    height: 597px;
}

.flower-title{
    font-weight: bold;
    font-size: 50px;
}
.flower-container{
    align-items: center;
    gap: 20px;
    
}
/* .flower-image-container{
    gap: 50px;
} */
.text-contai{
    margin-bottom: 20px;
}
.trusted-badge{
    margin-left: 360px;
    margin-top: -750px;
    border: none;
    margin-right: -100px;
    
}
.trusted-badge-image{
    width: 286px;
    height: 286px;
    border: none;
}
.section-deals{
    max-width: 1440px;
    margin: o auto;
    text-align: center;
    gap: 120px;
    margin-top: 200px;
}
.deal-title{
    font-weight: bold;
    font-size: 50px;

}
.deals-description{
    margin-top: -30px;
}
.plant-container{
    max-width: 1140px;
    margin: 0 auto;
    border: #C8C8C8;
    gap: 28px;
    margin-top: 120px;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bloom-image{
    border-radius: 14px;
    margin-bottom: 25px;
}

/* .ana-title{
    font-weight: bold;
    font-size: 20px;
}
.ana-description{
     font-weight: 400;
     font-size: 16px;
     margin-bottom: 28px;
} */

.zabo-image{
    border-radius: 22px;    
}
.zabo-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.zabo-description{
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin-top: -35px;
}
.section-colorful{
    width: 1440px;
    height: 533px;
    background-image: url(../assets/news-letter-bg.png);
    align-content: center;
    margin-top: 120px;
}
.colorful-content{
    text-align: center;
}
.colorful-title{
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}
.colorful-description{
    width: 600px;
    height: 50px;
    border: none;
}
.subs{
    width: 186px;
    height: 50px;
    border: none;
    margin-left: -5px;
}
.footer-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

.footer-content{
    max-width: 1140px;
    margin: 0 auto;
    gap: 116px;
}

.nav-items{
    list-style: none;
    margin-bottom: 26px;
    
}
.nav-linkss{
    text-decoration: none;
    font-weight: 500;
}
.twitter{
    margin-bottom: -600px;
}

.logo-image{
    margin-right: 21px;
}


@media screen and (max-width: 576px) {
    .navbar, 
    .nav-link,
    .banner,
    .plants-container,
    .section-flower,
    .plant-container,
    .footer-content{
        flex-direction: column;
    }

    .plants-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .section-flower{
        grid-template-columns: 1fr;
    }

}
